xml/Minimizer/SampleSpaceSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="minimizer">
        <xs:complexType>
            <xs:sequence>
                <!-- General parameters for all minimizer -->
                <xs:element name="name" type="xs:string"/>
                <xs:element name="max_iter" type="xs:integer"/>
                <xs:element name="max_points" type="xs:integer"/>
                <xs:element name="seed" type="xs:integer"/>
                <xs:element name="dump_points" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
